.homepage-container {
    text-align: center;
    margin: auto;
  }
  
  .homepageIcon-container {
    display: flex;
    flex-direction: column; /* Change to column for mobile */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 700px;
    /*background-color: #f0f0f0; /* Optional background color */
  }
  
  .homepageIcon-container div {
    /* Add some space between icons and text on mobile */
    margin-bottom: 1rem;
    text-align: center; /* Center text within each icon container */
    font-size: 1.1rem;
  }

  a {
    color: black;
  }

  a:hover {
    color: blue;
    opacity: 0.8;
  }
  
  
  h1 {
    font-size: 1.3rem;
  }
  
  /* Optional media query for even better mobile responsiveness */
  @media (min-width: 768px) {

    .homepageIcon-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem;
      margin: 0 auto;
    }

    .icon-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  