.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    background-color: #FAF9F6;
    height: 300px;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    
}