.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.loginContent-container {
    display: flex;
    position:relative;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,255,255,0.3);
    height: 100%;
    width: 100%;
}

.login-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 80%;
}

.login-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    opacity: 0.3;
}

h1 {
    font-size:large;
    font-weight: bold;
}

li {
    list-style-type: none;
    margin-bottom: 5px;
    font-weight: 500;
}
/*.form-container {
    background-color: #FAF9F6;
    height: 300px;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    
}*/