.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    /* Adjust width and height as needed */
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f8f8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Media query for mobile devices (adjust breakpoint as needed) */
  @media screen and (max-width: 768px) {
    .modal {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%; /* Full viewport height on mobile */
      padding:20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-x: auto;
      overflow-y: auto;
      border-radius: 5px;
    }
  
    .modal-backdrop {
      /* Apply styles for darkened background on mobile */
      background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    }
  }
  