.Navbar {
    background-color: skyblue;
    position: sticky;
    top: 0px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins";
}

.login-button {
    width: auto;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 15px;
}

.mobile-nav {
    position: absolute;
    top: 16px;
    right: 30px;
    z-index: 99;
}

.mobile-div {
    position: fixed;
    top:10px;
    width: 100%;
    height: 100vh;
    background-color: rgb(255 255 255 / 0.9);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.mobile-link {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    --tw-shadow-color: #9ca3af;
    --tw-shadow: var(--tw-shadow-colored);
    margin: 1rem;
    padding: 1rem/* 16px */;
    cursor: pointer;

}
