.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    height: 200px;
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.signup-form {
    display: flex;
    flex-direction: column;
}